.App-logo {
  height: 40vmin;
}

.App {
  height: 100%;
  width: 100%;
}

.Surface {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../../road.jpg");
  background-position: center;
  background-size: cover;
}

.App-logo {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.konvajs-content {
  position: absolute !important;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}

#app {
  position: relative;
  height: 100%;
  width: 100%;
}
